<h2>Email Verification</h2>
<p>Thank you for signing up! To complete your registration, please verify your email address by clicking the link below:
</p>
<a href="http://localhost:4200/verify/{{token}}" target="_blank">Verify Email</a>
<p>If you didn't sign up for an account, you can safely ignore this email.</p>
<p>Best regards,<br>Your Name</p>